<?xml version="1.0"?>
<config>
    <modules>
        <GoldenScent_Publisher>
            <version>0.0.1</version>
        </GoldenScent_Publisher>
    </modules>
    <global>
        <models>
            <goldenscent_publisher>
                <class>GoldenScent_Publisher_Model</class>
            </goldenscent_publisher>
        </models>
<!--        <events>-->
<!--            <sales_order_place_after>-->
<!--                <observers>-->
<!--                    <gs_publisher_sales_order_place_after>-->
<!--                        <class>goldenscent_publisher/salesOrderPlaceAfterObserver</class>-->
<!--                        <method>publishNewOrder</method>-->
<!--                    </gs_publisher_sales_order_place_after>-->
<!--                </observers>-->
<!--            </sales_order_place_after>-->
<!--        </events>-->
    </global>
</config>