<?xml version="1.0"?>
<config>
    <modules>
        <GoldenScent_Partner>
            <version>0.0.3</version>
        </GoldenScent_Partner>
    </modules>
    <stores>
        <admin>
            <design>
                <theme>
                    <template>goldenscent</template>
                </theme>
            </design>
        </admin>
    </stores>
    <global>
        <models>
            <goldenscent_partner>
                <class>GoldenScent_Partner_Model</class>
                <resourceModel>gs_partner_resource</resourceModel>
            </goldenscent_partner>
            <gs_partner_resource>
                <class>GoldenScent_Partner_Model_Resource</class>
                <entities>
                    <partner>
                        <table>gs_partner</table>
                    </partner>
                </entities>
            </gs_partner_resource>
        </models>
        <resources>
            <gs_partner_setup>
                <setup>
                    <module>GoldenScent_Partner</module>
                    <class>GoldenScent_Partner_Model_Resource_Setup</class>
                </setup>
            </gs_partner_setup>
            <gs_partner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gs_partner_write>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <goldenscent_partner>
                        <class>goldenscent_partner/partnerObserver</class>
                        <method>capturePartner</method>
                        <type>singleton</type>
                    </goldenscent_partner>
                </observers>
            </controller_front_init_before>
            <sales_order_place_after>
                <observers>
                    <gs_partner_sales_order_place_after>
                        <class>goldenscent_partner/salesOrderPlaceAfterObserver</class>
                        <method>updateOrderWithPartner</method>
                    </gs_partner_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>
                <observers>
                    <gs_partner_sales_order_save_after>
                        <class>goldenscent_partner/salesOrderSaveAfterObserver</class>
                        <method>partnerInvoice</method>
                    </gs_partner_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
</config>