<?xml version="1.0"?>
<config>
    <modules>
        <GoldenScent_Partner>
            <version>0.0.1</version>
        </GoldenScent_Partner>
    </modules>
    <global>
        <models>
            <goldenscent_partner>
                <class>GoldenScent_Partner_Model</class>
            </goldenscent_partner>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <goldenscent_partner>
                        <class>goldenscent_partner/observer</class>
                        <method>capturePartner</method>
                        <type>singleton</type>
                    </goldenscent_partner >
                </observers>
            </controller_front_init_before>
        </events>
    </global>
</config>